%h2= t('.title')
.row
  = search_form_for @search, url: admin_pages_path, html: { class: 'col s12', method: :get } do |f|
    .row
      .input-field.col.s3
        = f.text_field :title_cont
        = f.label :title_cont, t('activerecord.attributes.page.title')
      .input-field.col.s6
        = f.text_field :body_or_style_or_script_cont
        = f.label :body_or_style_or_script_cont, t('activerecord.attributes.page.body_or_style_or_script')
      .input-field.col.s3
        = f.button search_icon, class: caution_button_class
        = cancel_icon_link(admin_pages_path)
- if policy([:admin, Page]).create?
  .row
    .col.s12
      = link_to t('.new_page'), new_admin_page_path, class: success_button_class
- if @pages.present?
  .row
    .col.s12
      %table.pages
        %thead
          %tr
            %th.page-title= sort_link @search, :title
            %th.page-order.hide-on-small-only= sort_link @search, :order
            %th.page-created-at= sort_link @search, :created_at
            %th.edit
            %th.delete
        %tbody
          - @pages.each do |page|
            - present page do |page_presenter|
              %tr{ class: classnames('page', { 'inactive' => !page_presenter.published? }) }
                %td.page-title
                  = link_to page_presenter.title, admin_page_path(page)
                  = page_presenter.share_link target: '_blank'
                %td.page-order.hide-on-small-only= page_presenter.order
                %td.page-created-at= page_presenter.created_at
                %td.edit.right-align
                  - if policy([:admin, page]).edit?
                    = edit_icon_link edit_admin_page_path(page)
                %td.delete.right-align
                  - if policy([:admin, page]).destroy?
                    = delete_icon_link admin_page_path(page)
  .row
    .col.s12
      = paginate @pages
- else
  %p.no-items= t('.no_pages')
