%h2= t('.title')
.row
  = search_form_for @search, url: admin_pages_path, html: { class: 'col s12', method: :get } do |f|
    .row
      .input-field.col.s3
        = f.text_field :title_cont
        = f.label :title_cont, t('activerecord.attributes.page.title')
      .input-field.col.s6
        = f.text_field :body_or_style_or_script_cont
        = f.label :body_or_style_or_script_cont, t('activerecord.attributes.page.body_or_style_or_script')
      .input-field.col.s3
        = f.button content_tag(:i, 'search', class: 'material-icons'), class: 'btn btn-flat waves-effect waves-light yellow darken-3'
        = link_to content_tag(:i, 'clear', class: 'material-icons'), admin_pages_path, class: 'btn btn-flat waves-effect waves-loght red darken-3'
- if policy([:admin, Page]).create?
  .row
    .col.s12
      = link_to t('.new_page'), new_admin_page_path, class: 'btn btn-fat waves effect waves-light blue'
- if @pages.present?
  .row
    .col.s12
      %table.pages.responsive-table
        %thead
          %tr
            %th.page-title= sort_link @search, :title
            %th.page-order= sort_link @search, :order
            %th.page-created-at= sort_link @search, :created_at
            %th.edit
            %th.delete
        %tbody
          - @pages.each do |page|
            - present page do |page_presenter|
              %tr{ class: "page#{' inactive' unless page_presenter.published?}" }
                %td.page-title
                  = link_to page_presenter.title, admin_page_path(page)
                  = page_presenter.share_link target: '_blank'
                %td.page-order= page_presenter.order
                %td.page-created-at= page_presenter.created_at
                %td.edit
                  - if policy([:admin, page]).edit?
                    = icon_edit_link edit_admin_page_path(page)
                %td.delete
                  - if policy([:admin, page]).destroy?
                    = icon_delete_link admin_page_path(page)
  .row
    .col.s12
      = paginate @pages
- else
  %p.no-items= t('.no_pages')
