- present @page do |page_presenter|
  .row
    .col.s12
      %h2= "#{t('.title')}: #{page_presenter.title}"
  .row
    .admin-actions.col.s12
      = link_to t('.back_to_pages'), admin_pages_path, class: info_button_class
      - if policy([:admin, @page]).edit?
        = edit_icon_link(edit_admin_page_path(@page), label: t('edit'))
      - if policy([:admin, @page]).destroy?
        = delete_icon_link(admin_page_path(@page), label: t('delete'))
  .page
    .attribute.title.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.title')
      .attribute-value.col.s12.m9.l9= page_presenter.title
    .attribute.slug.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.slug')
      .attribute-value.col.s12.m9.l9
        = page_presenter.slug
        = page_presenter.share_link target: '_blank'
    .attribute.body.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.body')
      .attribute-value.col.s12.m9.l9
        - if page_presenter.body.present?
          %pre= page_presenter.body
    .attribute.style.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.style')
      .attribute-value.col.s12.m9.l9
        - if page_presenter.style.present?
          %pre= page_presenter.style
    .attribute.script.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.script')
      .attribute-value.col.s12.m9.l9
        - if page_presenter.script.present?
          %pre= page_presenter.script
    .attribute.order.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.order')
      .attribute-value.col.s12.m9.l9= page_presenter.order
    .attribute.color.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.color')
      .attribute-value.col.s12.m9.l9= page_presenter.color_text
    .attribute.show-in-menu.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.show_in_menu')
      .attribute-value.col.s12.m9.l9= page_presenter.show_in_menu
    .attribute.visible.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.visible')
      .attribute-value.col.s12.m9.l9= page_presenter.visible
    .attribute.created-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.created_at')
      .attribute-value.col.s12.m9.l9= page_presenter.created_at
    .attribute.updated-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.page.updated_at')
      .attribute-value.col.s12.m9.l9= page_presenter.updated_at
