<div id="page-info" class="in">
  <h2><%= legend %></h2>
</div>
<div class="line"></div>
<div class="in">
  <%= form_for [:admin, @picture], :html => { :multipart => true } do |f| %>
    <fieldset>
      <p>
        <%= f.label :title, "Title:" %><br />
        <%= f.text_field :title, :class => "small" %>
      </p>
      <p>
        <%= f.label :alt_text, "Alt Text:" %><br />
        <%= f.text_field :alt_text, :class => "small" %>
      </p>
      <p>
        <%= f.label :caption, "Caption:" %><br />
        <%= f.text_field :caption, :class => "small" %>
      </p>
      <p>
        <%= f.file_field :image %>
      </p>
      <p>
        <%= submit_tag "Submit" %>
      </p>
    </fieldset>
  <% end %>
</div>
