%h2= t('.title')
.row
  = search_form_for @search, url: admin_pictures_path, html: { class: 'col s12', method: :get } do |f|
    .row
      .input-field.col.s3
        = f.text_field :title_cont
        = f.label :title_cont, t('activerecord.attributes.picture.title')
      .input-field.col.s3
        = f.text_field :alt_text_cont
        = f.label :alt_text_cont, t('activerecord.attributes.picture.alt_text')
      .input-field.col.s3
        = f.text_field :caption_cont
        = f.label :caption_cont, t('activerecord.attributes.picture.caption')
      .input-field.col.s3
        = f.button search_icon, class: caution_button_class
        = cancel_icon_link(admin_pictures_path)
- if policy([:admin, Picture]).create?
  .row
    .image-uploader-container.col.s12
.row
  .picture-list-container.col.s12{ 'data-pictures' => @pictures.map { |picture| PictureSerializer.new(picture) }.to_json }
- if @pictures.present?
  .row
    .col.s12
      = paginate @pictures
- else
  %p.no-items= t('.no_pictures')
