%h2= t('.title')
.row
  = search_form_for @search, url: admin_pictures_path, html: { class: 'col s12', method: :get } do |f|
    .row
      .input-field.col.s3
        = f.text_field :title_cont
        = f.label :title_cont, t('activerecord.attributes.picture.title')
      .input-field.col.s3
        = f.text_field :alt_text_cont
        = f.label :alt_text_cont, t('activerecord.attributes.picture.alt_text')
      .input-field.col.s3
        = f.text_field :caption_cont
        = f.label :caption_cont, t('activerecord.attributes.picture.caption')
      .input-field.col.s3
        = f.button content_tag(:i, 'search', class: 'material-icons'), class: 'btn btn-flat waves-effect waves-light yellow darken-3'
        = link_to content_tag(:i, 'clear', class: 'material-icons'), admin_pictures_path, class: 'btn btn-flat waves-effect waves-loght red darken-3'
- if policy([:admin, Picture]).create?
  .row
    .col.s12
      .image-uploader-container
.pictures.collection
  .picture-list-container
  - @pictures.each do |picture|
    - present picture do |picture_presenter|
      .picture.row
        .thumbnail.col.s3= link_to picture_presenter.thumbnail_image_tag, admin_picture_path(picture)
        .title.col.s4= link_to picture_presenter.title, admin_picture_path(picture)
        .created-at.col.s3= picture_presenter.created_at
        .edit.col.s1
          - if policy([:admin, picture]).edit?
            = link_to content_tag(:i, 'edit', class: 'material-icons'), edit_admin_picture_path(picture)
          - else
            %i.material-icons edit
        .destroy.col.s1
          - if policy([:admin, picture]).destroy?
            = link_to content_tag(:i, 'delete_forever', class: 'material-icons'), admin_picture_path(picture), method: :delete, confirm: t('.destroy_confirmation')
          - else
            %i.material-icons delete_forever
= paginate @pictures
- unless @pictures.present?
  %p.no-items= t('.no_pictures')
