- present @picture do |picture_presenter|
  .row
    .col.s12
      %h2= "#{t('.title')}: #{picture_presenter.title}"
  .row
    .admin-actions.col.s12
      = link_to t('.back_to_pictures'), admin_pictures_path, class: info_button_class
      - if policy([:admin, @picture]).edit?
        = edit_icon_link(edit_admin_picture_path(@picture), label: t('edit'))
      - if policy([:admin, @picture]).destroy?
        = delete_icon_link(admin_picture_path(@picture), label: t('delete'))
  .picture
    .attribute.preview.row
      .attribute-name.col.s12.m3.l3= t('.preview')
      .attribute-value.col.s12.m9.l9= link_to picture_presenter.medium_image_tag, picture_presenter.original_image_path, target: '_blank'
    .attribute.title.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.title')
      .attribute-value.col.s12.m9.l9= picture_presenter.title
    .attribute.slug.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.slug')
      .attribute-value.col.s12.m9.l9= picture_presenter.slug
  .attribute.body.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.alt_text')
    .attribute-value.col.s12.m9.l9= picture_presenter.alt_text
  .attribute.style.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.caption')
    .attribute-value.col.s12.m9.l9= picture_presenter.caption
  .attribute.image-key.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.key')
    .attribute-value.col.s12.m9.l9= picture_presenter.image_key
  .attribute.image-filename.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.filename')
    .attribute-value.col.s12.m9.l9= picture_presenter.image_filename
  .attribute.image.content-type.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.content_type')
    .attribute-value.col.s12.m9.l9= picture_presenter.image_content_type
  .attribute.image-metadata.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.metadata')
    .attribute-value.col.s12.m9.l9= picture_presenter.image_metadata.inspect
  .attribute.image-byte-size.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.byte_size')
    .attribute-value.col.s12.m9.l9
      %span{ title: picture_presenter.image_size(false) }= picture_presenter.image_size
  .attribute.image-checksum.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.active_storage/blob.checksum')
    .attribute-value.col.s12.m9.l9
      %span{ title: picture_presenter.image_checksum }= Digest::hexencode(picture_presenter.image_checksum.unpack('m0').first)
  .attribute.created-at.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.created_at')
    .attribute-value.col.s12.m9.l9= picture_presenter.created_at
  .attribute.updated-at.row
    .attribute-name.col.s12.m3.l3= t('activerecord.attributes.picture.updated_at')
    .attribute-value.col.s12.m9.l9= picture_presenter.updated_at
