= form_for [:admin, @post], builder: AceBuilder, html: { class: 'col s12' } do |f|
  .row
    .input-field.col.s12
      = f.text_field :title
      = f.label :title
  .row
    .input-field.col.s12
      = f.picture_inserter :body
  .row
    .input-field.col.s12
      = f.ace_editor :body, mode: 'rhtml'
  .row
    .input-field.col.s12
      = f.ace_editor :style, mode: 'css'
  .row
    .input-field.col.s12
      = f.ace_editor :script, mode: 'javascript'
  .row
    .input-field.col.s12
      = f.text_field :tag_list
      = f.label :tag_list
  .row
    .input-field.col.s12
      = f.label :visible do
        = f.check_box :visible
        %span= t('activerecord.posts.attributes.visible')
  .row
    .input-field.col.s12
      = f.submit t('submit'), class: success_button_class
      = link_to t('cancel'), admin_posts_path, class: warning_button_class
