= form_for [:admin, @post], builder: AceBuilder, html: { class: 'col s12' } do |f|
  .row
    .input-field.col.s12
      = f.text_field :title
      = f.label :title
  .row
    .input-field.col.s12
      = f.picture_inserter :body
  .row
    .input-field.col.s12
      = f.ace_editor :body, mode: 'rhtml'
  .row
    .input-field.col.s12
      = f.ace_editor :style, mode: 'css'
  .row
    .input-field.col.s12
      = f.ace_editor :script, mode: 'javascript'
  .row
    .input-field.taglist-input-field.col.s12
      = f.tag_list :tag_list, suggestions: ActsAsTaggableOn::Tag.pluck(:name)
      = f.label :tag_list
  %p
    = f.label :visible do
      = f.check_box :visible
      %span= t('activerecord.attributes.post.visible')
  .row
    .input-field.col.s12
      = f.submit t('submit'), class: success_button_class
      = link_to t('cancel'), admin_posts_path, class: warning_button_class
