%h2= t('.title')
.row
  = search_form_for @search, url: admin_pages_path, html: { class: 'col s12', method: :get } do |f|
    .row
      .input-field.col.s3
        = f.text_field :title_cont
        = f.label :title_cont, t('activerecord.attributes.post.title')
      .input-field.col.s6
        = f.text_field :body_or_style_cont
        = f.label :body_or_style_or_script_cont, t('activerecord.attributes.post.body_or_style')
      .input-field.col.s3
        = f.button search_icon, class: caution_button_class
        = cancel_icon_link(admin_posts_path)
- if policy([:admin, Post]).create?
  .row
    .col.s12
      = link_to t('.new_post'), new_admin_post_path, class: success_button_class
- if @posts.present?
  .row
    .col.s12
      %table.posts.responsive-table
        %thead
          %tr
            %th.post-title= sort_link @search, :title
            %th.post-user= sort_link @search, :user_last_name_first_name, t('activerecord.attributes.post.user')
            %th.post-created-at= sort_link @search, :created_at
            %th.edit
            %th.delete
        %tbody
          - @posts.each do |post|
            - present post do |post_presenter|
              %tr{ class: classnames('post', { 'inactive' => !post_presenter.published? }) }
                %td.post-title
                  = link_to post_presenter.title, admin_post_path(post)
                  = post_presenter.share_link target: '_blank'
                %td.post-user= link_to post_presenter.user_full_name, admin_user_path(post.user)
                %td.post-created-at= post_presenter.created_at
                %td.edit
                  - if policy([:admin, post]).edit?
                    = edit_icon_link edit_admin_post_path(post)
                %td.delete
                  - if policy([:admin, post]).destroy?
                    = delete_icon_link admin_post_path(post)
  .row
    .col.s12
      = paginate @posts
- else
  %p.no-items= t('.no_posts')
