- present @post do |post_presenter|
  .row
    .col.s12
      %h2= "#{t('.title')}: #{post_presenter.title}"
  .row
    .admin-actions.col.s12
      = link_to t('.back_to_posts'), admin_posts_path, class: info_button_class
      - if policy([:admin, @post]).edit?
        = edit_icon_link(edit_admin_post_path(@post), label: t('edit'))
      - if policy([:admin, @post]).destroy?
        = delete_icon_link(admin_post_path(@post), label: t('delete'))
  .post
    .attribute.title.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.title')
      .attribute-value.col.s12.m9.l9= post_presenter.title
    .attribute.slug.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.slug')
      .attribute-value.col.s12.m9.l9
        = post_presenter.slug
        = post_presenter.share_link target: '_blank'
    .attribute.body.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.body')
      .attribute-value.col.s12.m9.l9
        - if post_presenter.body.present?
          %pre
            - post_presenter.body.split("\n").each do |line|
              = content_tag(:span, line)
    .attribute.style.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.style')
      .attribute-value.col.s12.m9.l9
        - if post_presenter.style.present?
          %pre= post_presenter.style
    .attribute.script.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.script')
      .attribute-value.col.s12.m9.l9
        - if post_presenter.script.present?
          %pre= post_presenter.script
    .attribute.visible.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.visible')
      .attribute-value.col.s12.m9.l9= post_presenter.visible
    .attribute.tags.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.tag_list')
      .attribute-value.col.s12.m9.l9= post_presenter.tag_list
    .attribute.created-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.created_at')
      .attribute-value.col.s12.m9.l9= post_presenter.created_at
    .attribute.updated-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.post.updated_at')
      .attribute-value.col.s12.m9.l9= post_presenter.updated_at
