%h1 New Contact Form Message
%h2{ 'style' => 'border-bottom: 1px solid #333;' } Name
%p= @contact.name
%h2{ 'style' => 'border-bottom: 1px solid #333;' } Email
%p= @contact.email
%h2{ 'style' => 'border-bottom: 1px solid #333;' } Phone Number
%p= @contact.phone_number.present? ? @contact.phone_number : '&nbsp;'.html_safe
%h2{ 'style' => 'border-bottom: 1px solid #333;' } Subject
%p= @contact.subject
%h2{ 'style' => 'border-bottom: 1px solid #333;' } Body
%p= @contact.body.gsub("\n", tag.br).html_safe
