.page
  %h3.page-title{ style: 'color: #5ea33a;' }= t('.title')
  .page-body
    %p.message= t('.message')
    = form_for @contact, url: contact_path do |f|
      .input-field
        = f.text_field :name
        = f.label :name
      .input-field
        = f.email_field :email
        = f.label :email
      .label-field
        = f.text_field :phone_number
        = f.label :phone_number
      .label-field
        = f.text_field :subject
        = f.label :subject
        .label-field
      .label-field
        = f.text_area :body, rows: '5'
        = f.label :body
      = f.submit t('.submit')
