#page-contact.page
  %header.page-header
    %h1{ style: 'color: #1b55c0;' }= t('.title')
  .page-body
    %p.message= t('.message')
    = form_for @contact, url: contact_path do |f|
      .input-field
        = f.text_field :name
        = f.label :name
      .input-field
        = f.email_field :email
        = f.label :email
      .input-field
        = f.text_field :phone_number
        = f.label :phone_number
      .input-field
        = f.text_field :subject
        = f.label :subject
      .input-field
        = f.text_area :body, class: 'materialize-textarea'
        = f.label :body
      .input-field
        = f.submit t('.submit')
