= form_for [:admin, @user], layout: :horizontal do |f|
  = f.text_field :first_name
  = f.text_field :last_name
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.collection_check_boxes(:role_ids, Role.all, :id, :to_s)
  = f.submit 'Submit'
  = link_to 'Cancel', admin_users_path, class: 'btn btn-default'
