- present @user do |user_presenter|
  .row
    .col.s12
      %h2= "#{t('.title')}: #{user_presenter.full_name}"
  .row
    .admin-actions.col.s12
      = link_to t('.back_to_users'), admin_users_path, class: info_button_class
      - if policy([:admin, @user]).edit?
        = edit_icon_link(edit_admin_user_path(@user), label: t('edit'))
      - if policy([:admin, @user]).destroy?
        = delete_icon_link(admin_user_path(@user), label: t('delete'))
  .user
    .attribute.first-name.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.first_name')
      .attribute-value.col.s12.m9.l9= user_presenter.first_name
    .attribute.last-name.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.last_name')
      .attribute-value.col.s12.m9.l9= user_presenter.last_name
    .attribute.email.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.email')
      .attribute-value.col.s12.m9.l9
        = user_presenter.email
        = user_presenter.email_link
    .attribute.roles.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.roles')
      .attribute-value.col.s12.m9.l9= user_presenter.roles
    .attribute.sign-in-count.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.sign_in_count')
      .attribute-value.col.s12.m9.l9= user_presenter.sign_in_count
    .attribute.current-sign-in-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.current_sign_in_at')
      .attribute-value.col.s12.m9.l9= user_presenter.current_sign_in_at
    .attribute.last-sign-in-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.last_sign_in_at')
      .attribute-value.col.s12.m9.l9= user_presenter.last_sign_in_at
    .attribute.current-sign-in-ip.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.current_sign_in_ip')
      .attribute-value.col.s12.m9.l9= user_presenter.current_sign_in_ip
    .attribute.last-sign-in-ip.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.last_sign_in_ip')
      .attribute-value.col.s12.m9.l9= user_presenter.last_sign_in_ip
    .attribute.created-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.created_at')
      .attribute-value.col.s12.m9.l9= user_presenter.created_at
    .attribute.updated-at.row
      .attribute-name.col.s12.m3.l3= t('activerecord.attributes.user.updated_at')
      .attribute-value.col.s12.m9.l9= user_presenter.updated_at
