<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= t('application.title') %></title>
  <meta name="description" content="<% if content_for?(:meta_description) %><%= yield(:meta_description) %><% else %><%= t('application.description') %><% end %>">
  <meta name="author" content="<%= t('application.author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <% if Rails.env.production? && current_user.nil? %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-20105884-1"]);
      _gaq.push(["_trackPageview"]);
      _gaq.push(["_setDomainName", window.location.hostname]);
      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" === document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="<%= image_path('apple-touch-icon-iphone.png') %>" rel="apple-touch-icon" sizes="57x57">
  <link href="<%= image_path('apple-touch-icon-ipad.png') %>" rel="apple-touch-icon" sizes="72x72">
  <link href="<%= image_path('apple-touch-icon-iphone-retina.png') %>" rel="apple-touch-icon" sizes="114x114">
  <link href="<%= image_path('apple-touch-icon-ipad-retina.png') %>" rel="apple-touch-icon" sizes="144x144">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <header>
        <h1>Sean Eshbaugh</h1>
        <h2 class="lead">Web Developer + Programmer</h2>
        <ul class="nav" role="navigation">
          <li><%= link_to 'Home', root_path, :data => { 'hover-color' => '#686868' } %></li>
          <% @pages.each do |page| %>
            <li><%= link_to page.title, "/#{page.slug}", :style => "color: #{page.color};", :data => { 'hover-color' => color_luminance(page.color, -0.3) } %></li>
          <% end %>
          <li><%= link_to 'Contact', contact_path, :style => 'color: #5ea33a;', :data => { 'hover-color' => '#427229' } %></li>
        </ul>
      </header>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div class="container">
      <p>Created with <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> by <%= link_to 'Sean Eshbaugh', 'http://seaneshbaugh.com/about' %>.</p>
      <ul class="nav" role="navigation">
        <li><%= link_to image_tag(image_path('icons/social/google-plus.png'), :alt => 'Google+', :title => 'Google+'), 'https://plus.google.com/100029677466665308601' %></li>
        <li><%= link_to image_tag(image_path('icons/social/linkedin.png'), :alt => 'LinkedIn', :title => 'LinkedIn'), 'http://www.linkedin.com/pub/sean-eshbaugh/34/534/441' %></li>
        <li><%= link_to image_tag(image_path('icons/social/twitter.png'), :alt => 'Twitter', :title => 'Twitter'), 'https://twitter.com/#!/bungoman' %></li>
        <li><%= link_to image_tag(image_path('icons/social/facebook.png'), :alt => 'Facebook', :title => 'Facebook'), 'http://www.facebook.com/seaneshbaugh' %></li>
        <li><%= link_to image_tag(image_path('icons/social/pinterest.png'), :alt => 'Pinterest', :title => 'Pinterest'), "http://pinterest.com/seaneshbaugh/" %></li>
        <li><%= link_to image_tag(image_path('icons/social/github.png'), :alt => 'Git Hub', :title => 'Git Hub'), 'https://github.com/seaneshbaugh/' %></li>
      </ul>
    </div>
  </footer>
</body>
</html>
