!!!
%html{ dir: 'ltr', lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %title= page_title(yield(:page_title))
    %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport' }
    %meta{ content: page_meta_description(yield(:meta_description)), name: 'description' }
    %meta{ content: 'Sean Eshbaugh', name: 'author' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.env.production? && current_user.nil?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-20105884-1', 'auto');
        ga('send', 'pageview');
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ href: image_path('apple-touch-icon-iphone.png'), rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: image_path('apple-touch-icon-ipad.png'), rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: image_path('apple-touch-icon-iphone-retina.png'), rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: image_path('apple-touch-icon-ipad-retina.png'), rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
  %body
    #content-wrap
      %header#main-header.container
        %h1.name Sean Eshbaugh
        %h2.lead Web Developer + Programmer
        %ul#main-nav.nav
          %li
            %strong= link_to 'Home', root_path, style: 'color: #000000;', data: { 'hover-color' => '#686868' }
          - @pages.each do |page|
            %li
              %strong= link_to page.title, "/#{page.slug}", :style => "color: #{page.color};", :data => { 'hover-color' => color_luminance(page.color, -0.3) }
          %li
            %strong= link_to 'Contact', contact_path, style: 'color: #1b55c0;', data: { 'hover-color' => '#133c86' }
      %main#content.container= yield
    %footer#main-footer
      .container
        %p.text-muted= "Created by #{link_to 'Sean Eshbaugh', 'http://seaneshbaugh.com/about'} with #{link_to 'Ruby on Rails', 'http://rubyonrails.org/'}.".html_safe
        %ul#social-nav.nav
          %li= link_to image_tag(image_path('icons/social/google-plus.png'), alt: 'Google+', title: 'Google+'), 'https://plus.google.com/100029677466665308601'
          %li= link_to image_tag(image_path('icons/social/linkedin.png'), alt: 'LinkedIn', title: 'LinkedIn'), 'http://www.linkedin.com/pub/sean-eshbaugh/34/534/441'
          %li= link_to image_tag(image_path('icons/social/twitter.png'), alt: 'Twitter', title: 'Twitter'), 'https://twitter.com/bungoman'
          %li= link_to image_tag(image_path('icons/social/facebook.png'), alt: 'Facebook', title: 'Facebook'), 'http://www.facebook.com/seaneshbaugh'
          %li= link_to image_tag(image_path('icons/social/pinterest.png'), alt: 'Pinterest', title: 'Pinterest'), 'http://pinterest.com/seaneshbaugh/'
          %li= link_to image_tag(image_path('icons/social/github.png'), alt: 'Git Hub', title: 'Git Hub'), 'https://github.com/seaneshbaugh/'
