!!!
%html{ dir: 'ltr', lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    %title= page_title(yield(:page_title))
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    %meta{ content: page_meta_description(yield(:meta_description)), name: 'description' }
    %meta{ content: t('.author'), name: 'author' }
    %meta{ content: 'telephone=no', name: 'format-detection' }
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ href: '/favicon.ico', rel: 'shortcut icon' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-iphone.png'), rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-ipad.png'), rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-iphone-retina.png'), rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: asset_pack_path('media/shared/images/apple-touch-icon-ipad-retina.png'), rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
  %body{ class: current_user.present? ? 'logged-in' : nil }
    .content-wrap
      %header.main-header{ role: 'banner' }
        %h1.main-header-title= t('.title')
        %h2.main-header-subtitle= t('.subtitle')
        %nav.main-header-nav
          - # Consider making some sort of Nav and NavItem model. Each NavItem could point to a page (with the path determined by the slug)
          - # or to a fixed path or URL. In the admin panel there could be a section for creating and editing Navs where they can be
          - # assigned a name. A helper method for views could then take the name (e.g. 'main-header') and then create the list with some
          - # sort of naming convention for the classes of the elements it dumps. Optional block for the contents of the li would be a good
          - # idea most likely. For now I'm going to leave this as is since it changes so infrequently. This would allow for optional style
          - # attributes to be attached to the Nav and NavItem meaning the color attribute for the Page model could be moved. The color
          - # attribute was always a cheap hack. The ability to restrict visibility will be necessary too.
          %ul.main-header-nav-list
            %li.main-header-nav-list-item= link_to(t('.header_nav.home'), root_path, rel: 'home', class: 'main-header-nav-list-item-link', style: 'color: #000000;')
            - @pages.each do |page|
              %li.main-header-nav-list-item= link_to(page.title, "/#{page.slug}", class: 'main-header-nav-list-item-link', style: "color: #{page.color};")
            %li.main-header-nav-list-item= link_to(t('.header_nav.pictures'), pictures_path, class: 'main-header-nav-list-item-link', style: 'color: #3e4ad9;')
            %li.main-header-nav-list-item= link_to(t('.header_nav.contact'), contact_path, class: 'main-header-nav-list-item-link', style: 'color: #5e0bb0;')
            - if current_user
              %li.main-header-nav-list-item= link_to(t('.header_nav.admin'), admin_root_path, class: 'main-header-nav-list-item-link', style: 'color: #333333;')
              %li.main-header-nav-list-item= link_to(t('.header_nav.logout'), destroy_user_session_path, method: :delete, class: 'main-header-nav-list-item-link', style: 'color: #333333 ;')
      %main.main-content{ role: 'main' }
        = flash_messages
        = yield
    %footer.main-footer{ role: 'contentinfo' }
      %div.main-footer-credit= t('.credit_html')
      %nav.main-footer-nav
        %ul.main-footer-nav-list
          %li.main-footer-nav-list-item= link_to(image_tag(asset_pack_path('media/shared/images/icons/social/github.png', alt_text: 'GitHub')), 'https://github.com/seaneshbaugh', class: 'main-footer-nav-list-item-link', target: '_blank')
          %li.main-footer-nav-list-item= link_to(image_tag(asset_pack_path('media/shared/images/icons/social/linkedin.png', alt_text: 'LinkedIn')), 'https://www.linkedin.com/in/sean-eshbaugh-44153434', class: 'main-footer-nav-list-item-link', target: '_blank')
