<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>seaneshbaugh.com</title>
	<meta name="description" content="" />
	<meta name="author" content="Sean Eshbaugh" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= stylesheet_link_tag "reset.css" %>
	<%= stylesheet_link_tag "application.css" %>
	<%= javascript_include_tag "jquery-1.6.2.min.js" %>
	<%= javascript_include_tag "jquery-ujs.js" %>
	<%= javascript_include_tag "application.js" %>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<%= csrf_meta_tag %>
</head>
<body>
	<% if flash[:notice] %>
		<div id="flash-notice" class="notification <%= flash[:type] %> click-to-close">
			<div><%= raw flash[:notice] %></div>
		</div>
	<% end %>
	<% if flash[:debug] %>
		<div id="flash-debug" class="notification information click-to-close">
			<div><%= raw debug flash[:debug] %></div>
		</div>
	<% end %>
	<% unless @top_level_pages.empty? %>
		<ul>
			<% @top_level_pages.each do |page| %>
				<li><%= link_to page.title, page %></li>
			<% end %>
		</ul>
	<% end %>
	<%= yield %>
</body>
</html>
